@model IEnumerable<TutorManagementProject.Models.Tutor>
@{
    ViewBag.Title = "TutorDetails";
}

<h2 style="color:red; background-color:aqua; text-align:center;border:double">  Tutor Details </h2>

<br />
<table border="1" style="border-color:red; border-width:thin" class="table">
    <tr style="background-color:aqua; color:blue">
        <th>@Html.DisplayNameFor(T => T.TutorId)</th>
        <th>@Html.DisplayNameFor(T => T.FirstName)</th>
        <th>@Html.DisplayNameFor(T => T.LastName)</th>
        <th>@Html.DisplayNameFor(T => T.Qualification)</th>
        <th>@Html.DisplayNameFor(T => T.ExpertSubject)</th>
        <th>@Html.DisplayNameFor(T => T.Exprience)</th>
        <th>@Html.DisplayNameFor(T => T.EmailId)</th>
        <th>@Html.DisplayNameFor(T => T.PhoneNo)</th>
        <th>@Html.DisplayNameFor(T => T.Status)</th>
        <th>-- Action --</th>
    </tr>
    @foreach (var tu in Model)
    {
        <tr style="background-color:antiquewhite">
            <td>@Html.DisplayFor(T => tu.TutorId)</td>
            <td>@Html.DisplayFor(T => tu.FirstName)</td>
            <td>@Html.DisplayFor(T => tu.LastName) </td>
            <td>@Html.DisplayFor(T => tu.Qualification)</td>
            <td>@Html.DisplayFor(T => tu.ExpertSubject) </td>
            <td>@Html.DisplayFor(T => tu.Exprience)</td>
            <td>@Html.DisplayFor(T => tu.EmailId) </td>
            <td>@Html.DisplayFor(T => tu.PhoneNo)</td>
            <td>@Html.DisplayFor(T => tu.Status) </td>
            <td>
                @Html.ActionLink("View", "TutorDetail", new { TutorId = tu.TutorId })
                @Html.ActionLink("Edit", "EditTutor", new { TutorId = tu.TutorId })
                @Html.ActionLink("Delete", "DeleteTutor", new { TutorId = tu.TutorId })
            </td>
        </tr>
    }

    <tr style="background-color:aliceblue">
        <td align="center" colspan="11">@Html.ActionLink("Add New Tutor Record", "AddTutor")</td>
    </tr>

</table>



