@model TutorManagementProject.Models.Enrollment
@{
    ViewBag.Title = "EnrollmentDetail";
}

<h2 style="color:red; background-color:aqua; text-align:center">-- Enrollment Detail Record  -- </h2>

<br />

<table border="1" style="border-color:blue; border-width:thin" class="table">
    <tr>
        @*<td style="color:red; font-size:16px">Enrollment :</td>*@
        <td>@Html.HiddenFor(E => E.EnrollmentId)</td>
    </tr>
    <tr>
        <td style="color:red; font-size:larger"> EnrollmentDate :</td>
        <td>@Model.EnrollmentDate</td>
    </tr>
    <tr>
        <td style="color:red; font-size:larger"> StudentId - Name :</td>
        <td>@Model.Student.StudentName</td>
    </tr>
    <tr>
        <td style="color:red; font-size:large"> BatchId - Name :</td>
        <td>@Model.Batch.BatchName</td>
    </tr>
    <tr>
        <td style="color:red; font-size:16px"> Status :</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td align="center" colspan="4">
            @Html.ActionLink("Go to Enrollment Details", "EnrollmentDetails")
        </td>
    </tr>
</table>
